APP_TELEGRAM_TOKEN=12345

POLL_TIMEOUT_SECONDS=30
SCHEDULER_INTERVAL=1m
HTTP_TIMEOUT=5s

BOT_HOST=localhost
BOT_PORT=8080
SCRAPPER_HOST=localhost
SCRAPPER_PORT=8081

GITHUB_BASE_URL=https://api.github.com
STACKOVERFLOW_BASE_URL=https://api.stackexchange.com/2.3
