APP_TELEGRAM_TOKEN=12345

POLL_TIMEOUT_SECONDS=30
SCHEDULER_INTERVAL=1m
BATCH_SIZE=100
WORKERS_COUNT=4
HTTP_TIMEOUT=5s
SHUTDOWN_TIMEOUT=10s

BOT_HOST=localhost
BOT_PORT=8080
SCRAPPER_HOST=localhost
SCRAPPER_PORT=8081

GITHUB_BASE_URL=https://api.github.com
STACKOVERFLOW_BASE_URL=https://api.stackexchange.com/2.3

POSTGRES_DB=link_tracker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_SSLMODE=disable

DB_ACCESS_TYPE=SQL

DB_CONNECT_TIMEOUT=5s

UPDATES_TRANSPORT=KAFKA

KAFKA_CLUSTER_ID=EmptNWtoR4GGWx-BH6nGLQ
KAFKA_UPDATES_TOPIC=link-updates
KAFKA_DLQ_TOPIC=dead-letter-queue
KAFKA_UPDATES_GROUP=bot
KAFKA_UI_PORT=8085
KAFKA_CONSUMER_MAX_ATTEMPTS=3
KAFKA_CONSUMER_RETRY_DELAY=200ms